services:
  - type: web
    name: mpesa-stk-push-saas
    env: python
    buildCommand: >-
      pip install -r requirements.txt && flask db upgrade
    startCommand: >-
      gunicorn --worker-tmp-dir /dev/shm --workers=2 --threads=4
      --worker-class=gthread --timeout=120 --bind :$PORT run:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: FLASK_ENV
        value: production
      - key: FLASK_CONFIG
        value: production
      - key: SECRET_KEY
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: MPESA_CONSUMER_KEY
        sync: false
      - key: MPESA_CONSUMER_SECRET
        sync: false
      - key: MPESA_BUSINESS_SHORTCODE
        sync: false
      - key: MPESA_PASSKEY
        sync: false
      - key: MPESA_CALLBACK_URL
        sync: false
      - key: MPESA_ENVIRONMENT
        value: production
